<div *ngIf = "loading  &&  !finded  "  class = "loader"></div>
<p *ngIf = "doesntFinded" id = "if"> Nie istnieje oferta z takim ID!</p>
<div class="container" *ngIf=" finded">
    <div class = "row">
      <div class = "col">
        <div id = "iconka">
          <img src="../assets/iconka.png" alt="icon">
          <br>
          <p id = "title">
           OFERTA
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="empty">
        </div>  
      </div>
    </div>  
    <div class="row">
        <div class="col">
          <div id="logo">
            <img id = 'imglogo' src="../assets/logo2.png" alt = "Logo" width="45%" height="45%">
           </div>  
        </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="empty">
        </div>  
      </div>
    </div> 
    <div class="row">
        <div class="col">
          <div id ="date">
             {{offer.date}}
          </div>
        </div>   
    </div>
    <div class = "row">
        <div class="col">
          <div class = "services" style = "    text-align:initial;"          >
            <span> Usługodawca: </span>
            SUPRISE.DESIGN Michał Wójcik <br> Bielsko-Biała 43-300 <br> Broniewskiego 4/2                        
          </div>
        </div>
        <div class="col">
          <div class = "services">
            <span> Usługobiorca: </span>
            <br>
            {{offer.recipient.name}} {{offer.recipient.street}}<br>{{offer.recipient.placement}},
            {{offer.recipient.postcard}}                       
          </div>
        </div>
    </div>
    <div class="col">
      <div class="empty">
      </div>  
    </div>
    <ul *ngFor="let item of offer.allFrame ">
      <div class = "row" >
         <div class="col block">
           <span> {{item.title}}: </span>
           <br>        
           - {{ item.websiteEdit }}
           <br>
           <span> informacje:</span>
           <ol *ngFor="let it of item.information" id="lista" >        
             <li> -{{it}} </li>
           </ol>
            <p id ="price"> {{item.price + 'PLN'}} </p>
          </div>
        </div>
    </ul>
    <div class="row">
      <div class="col">
        <div id ="taxe">
          *Podane ceny są cenami netto, bez podatku VAT 23%
          <br>
          <br>
        </div>
      </div>   
    </div>
    <div class="row" style = "margin-bottom: 5%;">
      <div class="col">
          <div id="backLogo">
            <img id = 'imglogo' style="margin-top: 20px;" src="../assets/logolittle.png" alt = "Logo" width="100%" height="100%">
           </div>  
        </div>
      <div class="col">
        <div class = 'ic'>
          <img src="/../assets/earth.png" width="45px" height="45px" alt="">
        </div>
        <div class = "text1">
            asap@surprise.design<br>
            surprise.design
        </div>
      </div>
      <div class="col">
        <div class = 'ic'>
          <img src="/../assets/phone2.png" width="45px" height="45px" alt="">
        </div>
        <div class = "text1">
            Tel: +48 500 419 563<br>
            Mob: +48 504 343 018
        </div>
      </div>     
    </div>
</div>

<router-outlet> </router-outlet>

<!-- {{oferta | json}} -->
<!--<ul><li *ngFor="let item of show | async">{{item.$value | json}}</li></ul># -->