<button type="button" class="btn btn-info btn-lg btn-block" (click) = "showConfirm()">Load offer</button>
<div class="form-group row move">
</div>
<div class = "container">
  <div class = "row">
    <div class = "col-7" style = "margin-bottom: 5%;">
      <label for="example-date-input" class="col-2 col-form-label">Name:</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="export.recipient.name" name = "export.recipient.name" >
      </div>
      <label for="example-date-input" class="col-2 col-form-label">Street:</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="export.recipient.street" name = "export.recipient.street" >
      </div>
        <label for="example-date-input" class="col-2 col-form-label">Placement:</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="export.recipient.placement" name = "export.recipient.placement" >
      </div>
        <label for="example-date-input" class="col-2 col-form-label">Postcard:</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="export.recipient.postcard" name = "export.recipient.postcard" >
      </div>
    </div>
    <div class = "col-5">
      <div class = "services">
        <font style = "color :#00aef1; font-size: 150%"> Usługobiorca: </font>
        <br>
        {{export.recipient.name}} {{export.recipient.street}}<br>{{export.recipient.placement}},
        {{export.recipient.postcard}}                       
      </div>
    </div>
    <div class = "row">
      <div class = "col">
        <div class="form-group row">
          <label for="example-date-input" class="col-2 col-form-label">Date:</label>
          <div class="col-10">
            <input class="form-control" type="date"  [(ngModel)]="export.date" name = "export.date" >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class = "row" >  
    <div class="col block">
      <input type="text" class = "inputGenerator" [(ngModel)]="block.title"  name = "block.title">
      <br>        
      <input type="text" class = "simpleInput"  [(ngModel)]="block.websiteEdit" name = "block.websiteEdit">
      <br>
      <font style = " font-size: 125%; font-weight: 500;"> informacje:</font>
      <br>        
      <textarea class = "textAreaGenerator" [(ngModel)]="textArea" name = "nic"></textarea>  
      <div class = "priceInput">
        <input type="text" [(ngModel)]="block.price" name = "block.price">
      </div>
     </div>
   </div>
   <button type="button" class="btn btn-success" (click) = "addBlock()">Add block:</button>
   <button type="button" class="btn btn-success" (click) = "vieving()">Viev</button>
   <button *ngIf = "template == true"  style = "width: 25%; margin-left: 25%;" type="button" class="btn btn-danger"  (click) = "deleteOffer()">Delete offer</button>                                
   
  <div class="container">
      <div class="col">
        <div class="empty">
        </div>  
      </div>
      <div class = "row">
          
          <button *ngIf="template != true; else update" type="button" class="btn btn-primary btn-lg btn-block" (click) = "addOffer()">Dodaj ofertę</button>          
      </div>
      <ng-template #update>
            <button style = "width: 75%;" type="button" class="btn btn-primary btn-lg btn-block"  (click) = "updateOffer()">Update offer</button>                      
            <button style = "float: left; width: 25%;" type="button" class="btn btn-success" (click) = "addOffer()">Add offer</button>                      
      </ng-template>
      <div class = "row">
        <div class = "col">
          <div class = "empty"></div>
        </div>
      </div>
      <ul *ngFor="let item of export.allFrame; let i = index">
        <div class = "row"  *ngIf=" item.edit != true; else editable ">
           <div class="col block">
             <span> {{item.title}}: </span>
             <br>        
             - {{ item.websiteEdit }}
             <br>
             <span> informacje </span>             
             <ol *ngFor="let it of item.information" id="lista" >        
               <li> -{{it}} </li>
             </ol>
             <button type="button" class="btn btn-warning" (click) = "edit(i)">Edit</button>     
             <button type="button" class="btn btn-danger" (click) = "deleteBlock(i)">Delete</button>                                                
              <p id ="price"> {{item.price + 'PLN'}} </p>
            </div>
          </div>
          <ng-template #editable> 
            <div class = "row" >  
             <div class="col block">
               <input type="text" class = "inputGenerator" [(ngModel)]="block.title"  name = "block.title">
               <br>        
               <input type="text" class = "simpleInput"  [(ngModel)]="block.websiteEdit" name = "block.websiteEdit">
               <br>
               <span> informacje:</span>
               <br>        
               <textarea class = "textAreaGenerator" [(ngModel)]="textArea" name = "nic"></textarea>  
               <div class = "priceInput">
                 <input type="text" [(ngModel)]="block.price" name = "block.price">
               </div>
               <button type="button" class="btn btn-primary" (click) = "editSave(i)">Save</button>
            </div>
          </div>
        </ng-template>
      </ul>
  </div>
  <div class="container" *ngIf="viev == true">
      <div class = "row">
        <div class = "col">
          <div id = "iconka">
            <img src="../assets/iconka.png" alt="icon">
            <br>
            <p id="title">
             OFERTA
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="empty">
          </div>  
        </div>
      </div>  
      <div class="row">
          <div class="col">
            <div id="logo">
              <img id = 'imglogo' src="../assets/logo2.png" alt = "Logo" width="45%" height="45%">
             </div>  
          </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="empty">
          </div>  
        </div>
      </div> 
      <div class="row">
          <div class="col">
            <div id ="date">
               {{export.date}}
            </div>
          </div>   
      </div>
      <div class = "row">
          <div class="col">
            <div class = "services" style = "    text-align:initial;"          >
              <span> Usługodawca: </span>
              SUPRISE.DESIGN Michał Wójcik <br> Bielsko-Biała 43-300 <br> Broniewskiego 4/2                        
            </div>
          </div>
          <div class="col">
            <div class = "services">
              <span> Usługobiorca: </span>
              <br>
              {{export.recipient.name}} {{export.recipient.street}}<br>{{export.recipient.placement}},
              {{export.recipient.postcard}}                       
            </div>
          </div>
      </div>
      <div class="col">
        <div class="empty">
        </div>  
      </div>
      <ul *ngFor="let item of export.allFrame ">
        <div class = "row" >
           <div class="col block">
             <span> {{item.title}}: </span>
             <br>        
             - {{ item.websiteEdit }}
             <br>
             <span> informacje:</span>
             <ol *ngFor="let it of item.information" id="lista" >        
               <li> -{{it}} </li>
             </ol>
              <p id ="price"> {{item.price + 'PLN'}} </p>
            </div>
          </div>
      </ul>
      <div class="row">
        <div class="col">
          <div id ="taxe">
            *Podane ceny są cenami netto, bez podatku VAT 23%
            <br>
            <br>
          </div>
        </div>   
      </div>
      <div class="row" style = "margin-bottom: 5%;">
        <div class="col">
            <div id="backLogo">
              <img id = 'imglogo' style="margin-top: 20px;" src="../assets/logolittle.png" alt = "Logo" width="100%" height="100%">
             </div>  
          </div>
        <div class="col">
          <div class = 'ic'>
            <img src="/../assets/earth.png" width="45px" height="45px" alt="">
          </div>
          <div class = "text1">
              asap@surprise.design<br>
              surprise.design
          </div>
        </div>
        <div class="col">
          <div class = 'ic'>
            <img src="/../assets/phone2.png" width="45px" height="45px" alt="">
          </div>
          <div class = "text1">
              Tel: +48 500 419 563<br>
              Mob: +48 504 343 018
          </div>
        </div>     
      </div>
  </div>
<router-outlet></router-outlet>
  