.move {
    margin-left: 15px;
}
.container {
    background: url('/../../assets/backgroundIcon.png');
    
}
#logo {
    display: block;
    text-align: center;
    
}
#backLogo img {
    margin-left: 5%;
}
#price{
    color : #00aef1;
    font-size: 120%;
    font-weight: 600;
    text-align: right;
}
.col.block {
    background-color: #e6e7e9;
    color: #6c6e82;
}
li {
   display: block;
}
#date {
    color: #6c6e82;
    display: block;
    font-size: 150%;
    margin-bottom: 20px;
    text-align: right;
}
#taxe {
    color: #6c6e82;
    display: block;
    text-align: right;
}
.services {
    display: block;
    height: 50%;
    padding: 5%;
    width: 50%;
}
#textService {
    text-align: justify;
}
.empty {
    height: 100px;
    width: 100%;
}
.ic {
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}
.text1 {
    color: #6c6e82;
    float: left;
    margin-left: 5%; 
    margin-top: 5%;
}
#lista {
    list-style-type: none;
    padding: 0;
}
#iconka {
    display: block;
    margin-bottom: 40%;
    margin-top: 25%;
    position: relative;
    text-align: center;
}
#test{
    position: absolute;
}
.inputGenerator {
    background-color: #e6e7e9;
    color: #6c6e82;
    font-size: 125%;
    font-weight: 500;
    width: 50%;
}
.textAreaGenerator {
    background-color: #e6e7e9;
    color: #6c6e82;
    width: 50%;
}
.simpleInput {
    background-color: #e6e7e9;
    color: #6c6e82;
    font-size: 125%;
    width: 50%;
}
.priceInput {
    text-align: right;
}
.priceInput input {
    background-color: #e6e7e9;
    color : #00aef1;
    font-size: 120%;
    font-weight: 600;
    width: 10%;    
}
#if {
    color: #6c6e82;
    font-size: 150%;
    margin-top: 30%;
    text-align: center;
}
#title {
    color:#706F6F;
    font-size: 460%;
    font-weight: 600;
    font-stretch: ultra-expanded;
}
.services span {
    color :#00aef1; 
    font-size: 150%; 
}
.col.block span {
    font-size: 125%;
    font-weight: 500;
}
